# Compiled output
dist
node_modules

# Environment variables
.env

# Yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# NestJS
/dist
/node_modules
